QWidget {
  color: #{{ onSurface.hex }};
  background-color: #{{ surface.hex }};
  selection-background-color: #{{ primary.hex }};
  selection-color: #{{ onPrimary.hex }};
}

QPushButton,
QTabBar::tab,
QCheckBox::indicator {
  background-color: #{{ surfaceContainer.hex }};
  border: 1px solid #{{ outlineVariant.hex }};
}

QPushButton:hover,
QTabBar::tab:selected,
QCheckBox::indicator:checked {
  color: #{{ onPrimary.hex }};
  background-color: #{{ primary.hex }};
  border-color: #{{ primary.hex }};
}
